<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fuelindeed</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>fuelindeed.services.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuelRegister</display-name>
    <servlet-name>FuelRegister</servlet-name>
    <servlet-class>fuelindeed.services.FuelRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuelRegister</servlet-name>
    <url-pattern>/FuelRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuelLogin</display-name>
    <servlet-name>FuelLogin</servlet-name>
    <servlet-class>fuelindeed.services.FuelLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuelLogin</servlet-name>
    <url-pattern>/FuelLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>fuelindeed.services.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>fuelindeed.services.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PetrolAvailability</display-name>
    <servlet-name>PetrolAvailability</servlet-name>
    <servlet-class>fuelindeed.services.PetrolAvailability</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetrolAvailability</servlet-name>
    <url-pattern>/PetrolAvailability</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiselAvailability</display-name>
    <servlet-name>DiselAvailability</servlet-name>
    <servlet-class>fuelindeed.services.DiselAvailability</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiselAvailability</servlet-name>
    <url-pattern>/DiselAvailability</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PetrolRate</display-name>
    <servlet-name>PetrolRate</servlet-name>
    <servlet-class>fuelindeed.services.PetrolRate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetrolRate</servlet-name>
    <url-pattern>/PetrolRate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiselRate</display-name>
    <servlet-name>DiselRate</servlet-name>
    <servlet-class>fuelindeed.services.DiselRate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiselRate</servlet-name>
    <url-pattern>/DiselRate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DPersonRegister</display-name>
    <servlet-name>DPersonRegister</servlet-name>
    <servlet-class>fuelindeed.services.DPersonRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DPersonRegister</servlet-name>
    <url-pattern>/DPersonRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DPersonLogin</display-name>
    <servlet-name>DPersonLogin</servlet-name>
    <servlet-class>fuelindeed.services.DPersonLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DPersonLogin</servlet-name>
    <url-pattern>/DPersonLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFuelStation</display-name>
    <servlet-name>SearchFuelStation</servlet-name>
    <servlet-class>fuelindeed.services.SearchFuelStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFuelStation</servlet-name>
    <url-pattern>/SearchFuelStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserGetSet</display-name>
    <servlet-name>UserGetSet</servlet-name>
    <servlet-class>fuelindeed.services.UserGetSet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserGetSet</servlet-name>
    <url-pattern>/UserGetSet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookMyFuel</display-name>
    <servlet-name>BookMyFuel</servlet-name>
    <servlet-class>fuelindeed.services.BookMyFuel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookMyFuel</servlet-name>
    <url-pattern>/BookMyFuel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeUserPassword</display-name>
    <servlet-name>ChangeUserPassword</servlet-name>
    <servlet-class>fuelindeed.services.ChangeUserPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserPassword</servlet-name>
    <url-pattern>/ChangeUserPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeStationPassword</display-name>
    <servlet-name>ChangeStationPassword</servlet-name>
    <servlet-class>fuelindeed.services.ChangeStationPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeStationPassword</servlet-name>
    <url-pattern>/ChangeStationPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeCheck</display-name>
    <servlet-name>CodeCheck</servlet-name>
    <servlet-class>fuelindeed.services.CodeCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeCheck</servlet-name>
    <url-pattern>/CodeCheck</url-pattern>
  </servlet-mapping>
</web-app>